/* 全体のフォント設定 */
body {
    font-family: "Arial", "Meiryo", sans-serif;
    font-size: 20px;
    text-align: center;
  }
  
  /* h1の装飾 */
  h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem; /* 20px × 2 */
    letter-spacing: 0.2em; /* 1文字の0.2倍 → 結果的に1.2倍になる */
    text-shadow: 2px 2px 4px gray;
    border-bottom: 3px solid rgb(115, 115, 114);
  }  
  
  /* 色設定 */
  .blue {
    color: skyblue;
  }
  
  .pink {
    color: rgb(255, 192, 203);
  }
  
  /* 通常のpは太字にしない */
  p {
    font-weight: normal;
  }
  
  /* #basic内のpだけ太字にする */
  #basic p {
    font-weight: bold;
  }
  